@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#attribution-div {
    display: flex;
}

#attribution-div span {
    margin-right: 10px;
}


body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color:#E50914;
    font-family: sans-serif;
    align-items: center;
}

button, h1, form, input, #movie-grid {
    transition: .5s ease-in;
    border-radius: 5px;
}

#content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    height: 5vh;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
}


#form-div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#form-div img {
    width: 8vw;
    height: auto;
    padding-top: 2px;
}

#form-div button {
    background-color: #E50914;
    color: white;
    border: none;
    font-size: 26px;
}

#form-div button:hover {
    background-color: rgb(127, 3, 3);
    color: white;
    border: none;
    font-size: 26px;
}

#form-div input {
    font-size: 26px;
}


h1 {
    font-size: 60px;
    font-family: 'Bebas Neue';
}

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
}

#load-more-movies-btn {
    margin: 15px;
    width: 300px;
    background-color: #E50914;
    color: gainsboro;
    font-size: 16px;
    border: none;
    padding: 5px;
}

#load-more-movies-btn:hover {
    margin: 15px;
    width: 300px;
    background-color: rgb(127, 3, 3);
    color: gainsboro;
    font-size: 16px;
    border: none;
    padding: 5px;
}

#movies-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: white;
    padding: 10px;
    background-color: black;
    transition: transform .75s;
    /* https://w3bits.com/css-image-hover-zoom/ */
}

.movie-card img {
    border-radius: 4%;;
}

.movie-card:hover {
    transform: scale(1.3);
}

.movie-poster {
    height: 375;
    width: 250px;   
    object-fit: contain; 
}

.movie-title, .movie-votes {
    font-size: 16px;
    color: gainsboro;
    padding: 2px;
    padding-right: 5px;
    margin-top: 2px;
    font-family: sans-serif;
    font-weight: bold;
    width: 250px;   

}

nav {
    display: flex;
    justify-content: space-evenly;
}


